[terraform]
TERRAFORM_SERVER_IP

[ansible]
ANSIBLE_SERVER_IP

[kube_control_plane]
CONTROL_PLANE_IP

[kube_workers]
JENKINS_WORKER_IP ansible_host=JENKINS_WORKER_IP node_role=jenkins
MAVEN_WORKER_IP ansible_host=MAVEN_WORKER_IP node_role=maven
NEXUS_WORKER_IP ansible_host=NEXUS_WORKER_IP node_role=nexus
WEB_WORKER_IP ansible_host=WEB_WORKER_IP node_role=web

[all:vars]
ansible_user=ubuntu
